{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    <header class="header">
        <div class="button">
            <img width="24px" height="24px" src="/svg/button_back.svg" alt="back" class="">
        </div>
        <div class="button">
            <img width="24px" height="24px" src="/png/hero.png" alt="back" class="">
        </div>
    </header> 

    <h1 class="title">Мій блог</h1> 
    <nav class="tabs">
        <a href='#' class="tab tab--veiwed">База знань</a>
        <a href='#' class="tab">Інформація</a>
    </nav> 
    <img src="/png/hero.png" alt="" class="hero_image"> 
    <div class="description">
        <h2 class="title title__small">Що таке база знань?</h2>
        <p class="description__text">
            База знаний — база данных, содержащая правила вывода и информацию о человеческом
            опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
            информацию, являющуюся результатом решения предыдущих задач.
        </p>
    </div> 

    <button class="button button__go">Перейти до ком'юніті у Телеграм</button> 

</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}